<a href="https://colab.research.google.com/github/Manekantag/python/blob/main/Level4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Level4
#builtin functions
a=1
b=2
c=3
#a,b,c = 1,2,3   short cut way to declare variables
minimum_value=min(a,b,c)
print(minimum_value)
maximum_value=max(a,b,c)
print(maximum_value)
print(max(a,b,c))
#short cut way

1
3

In [3]:
a=-7.6
print(abs(a))

7.6

In [6]:
a=-7.4
print(round(a))

-8

In [7]:
Ahsoka=1.70
Yoda=0.66
R2D2=1.09
print("The average height is"+avg(Ahsoka,Yoda,R2D2)+". The maximum height is "+max(Ahsoka,Yoda,R2D2)+". The minimum height is "+min(Ahsoka,Yoda,R2D2)+".")

NameError: name 'avg' is not defined

In [13]:
Ahsoka=1.70
Yoda=0.66
R2D2=1.09
average=(Ahsoka+Yoda+R2D2)/3
#print("The average height is",average,". The maximum height is ",max(Ahsoka,Yoda,R2D2),". The minimum height is ",min(Ahsoka,Yoda,R2D2),".")
print("the average height is"+str(average)+". The maximum height is "+str(max(Ahsoka,Yoda,R2D2))+". The minimum height is "+str(min(Ahsoka,Yoda,R2D2)))

the average height is1.1500000000000001. The maximum height is 1.7. The minimum height is 0.66

In [16]:
#input - interactes with user
name=input("What is your name? ")
print("your name is "+name)

What is your name? sneha
your name is sneha

In [17]:
name=input("what is your name? ")
height=input("what is your height? ")
age=input("what is your age? ")
print("Your name , height and age is : "+name+","+height+"and"+age+" respectively.")
# we aint get any error because we may enter the different values
# but the input take them as a string .. so problem in concatination

what is your name?sneha
what is your height?5feet
what is your age?21
Your name , height and age is : sneha,5feetand21 respectively.

In [18]:
name=input("what is your name ? ")
age=input("what is your age ? ")
print("Your name is "+name+"Your age is "+age+".")

what is your name ?sneha
what is your age ?21
Your name is snehaYour age is 21.

In [19]:
#custom functions
def your_name_function():
    your_name=input("what is your name? ")
    print("your name is "+your_name)

your_name_function()

what is your name? sneha
your name is sneha

In [20]:
def age_of_rey():
  age=input("How old is Rey? ")
  print("Rey's age is "+age)
age_of_rey()

How old is Rey?19
Rey's age is 19

In [21]:
#passing parameters
name=input("what is your name? ")
age=input("what is "+name+"'s age? ")
def age_in_one_year(name,age):
  age_next_year=int(age)+1
  print(name+" will be "+str(age_next_year)+" in one year.")
age_in_one_year(name,age)

what is your name? Mani
what is Mani's age? 21
Mani will be 22 in one year.

In [22]:
def titanic():
  names=input("who was on the Titanic ? ")
  year=int(input("what year is it currently ? "))
  print(names+" were on the Titanic , which sunk "+str(year-1912)+"* years ago ")

titanic()

who was on the Titanic ? Jack anf Rose
what year is it currently ? 2025
Jack anf Rosewere on the Titanic , which sunk 113* years ago

In [23]:
#with parameters
names=input("who was on the Titanic ? ")
year=int(input("what year is it currently ? "))

def titanic(names,year):
  print(names+" were on the Titanic , which sunk "+str(year-1912)+"* years ago ")

titanic(names,year)

who was on the Titanic ? Jack and Rose
what year is it currently ? 2025
Jack and Rose were on the Titanic , which sunk 113* years ago

In [ ]:
#14 video running