<a href="https://colab.research.google.com/github/Manekantag/python/blob/main/Level2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#level2

In [ ]:
#This code definees a name and then prints it
name="Mr. Skywalker"
name=str('Mr. skywalker')
print(name)
#name=int("Mr. skywalker") ERROR
age=44
age=int(44)
print(age)
type(age) # u can write it n no.of times in code without print , but executes the last one
#ctrl + enter is to run code

Mr. skywalker
44
Mr. skywalker

str

In [ ]:
name="Darth Vader" #STR
print(name)
age=19 #int
print(age)

Darth Vader
19

In [ ]:
pi=3.14
print(pi)
type(pi)
pi=int(3.14)
print(type(pi))

3.14
<class 'int'>

In [ ]:
bool_example=True  #1 True   0 False
print(bool_example)
type(bool_example)

True

bool

In [ ]:
i_cannot_do_it=False
print(i_cannot_do_it)
answer=42.01
print(answer)

False
42.01

In [1]:
name="Darth Vader"
print(name)
name=str('Mr. Skywalker')
print(Name)   # ERROR
# to comment use ctrl+/

Darth Vader

NameError: name 'Name' is not defined

In [3]:
age="100"
type(age)
age=int("100")
type(age)#type casting

int

In [4]:
name=int("Luka") #converting is not possible ERROR

ValueError: invalid literal for int() with base 10: 'Luka'

In [5]:
print(int(3.0))

3

In [6]:
print(int(4.9))

4

In [7]:
print(int(4.54545444222))

4

In [12]:
# C3p0=1.75
# R2D2=1.09
height=str(1.09)
print(height)
height=float(height)
print(height+0.66)

1.09
1.75