<a href="https://colab.research.google.com/github/Manekantag/python/blob/main/Level3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Level3
age=44.4
print(age+1*2)
print((age+1)*2)

46.4
90.8

In [3]:
print(age**2)

1971.36

In [4]:
Ahsoka_heigh=1.70
Yoda_height=0.66
R2D2_height=1.09
C3P0_height=1.75
average_height=(Ahsoka_heigh+Yoda_height+R2D2_height+C3P0_height)/4
print(average_height)

1.3

In [6]:
#concatination
name="Yoda"
print("Your name is "+name)
height=0.66
age=900
print("Your name is "+name+" and you are "+age+" years old")  #ERROR

Your name is Yoda

TypeError: can only concatenate str (not "int") to str

In [7]:
print(type(age))
print(type(name))
print(type(height))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
#concatinating the need only strings .. if others we need to convert them
print("Your name is "+name+" and you are "+str(age)+" years old"+"and Your height is "+str(height))

Your name is Yoda and you are 900 years oldand Your height is 0.66

In [10]:
name="Yoda"
print("Your name is"+name)
#concatination adds up without spaces

Your name isYoda

In [11]:
name1="Jack"
name2="Rose"
year=1912
print(name1+" and "+name2+" were on the Titanic in "+str(year))

Jack and Rose were on the Titanic in 1912

# Level 3 Final Exercise: Simple Interest Calculator for a Savings Account

## Objective
You are an intern at a bank and you have been tasked to create a simple program to calculate the interest that customers will earn on their savings account. The interest is calculated yearly using the simple interest formula:

![](https://i.ibb.co/sgZG3Md/Screenshot-2023-10-18-at-12-41-43.png)

## Instructions

1. Create a variable named `principal` and assign it the value of 1000 (This is the initial amount in USD).
2. Create a variable named `rate` and assign it the value of 5 (Annual interest rate in percentage).
3. Create a variable named `time` and assign it the value of 2 (Time in years).
4. Calculate the simple interest using the formula above. Store the result in a variable named `interest`.
5. Print the interest amount rounded to 2 decimal places along with a message. The message should include the `principal`, `rate`, `time`, and `interest` variables.

In [12]:
# Your code starts here

# Step 1: Initialize principal amount
principal=1000
# Step 2: Initialize annual interest rate
rate=5
# Step 3: Initialize time in years
time=2
# Step 4: Calculate Simple Interest
interest=(principal*time*rate)/100;
# Step 5: Print the calculated interest
print("With a principal amount of "+str(principal)+" USD, at an annual interest rate of "+str(rate)+"%, in "+str(time)+" years you will earn "+str(interest)+" USD in interest.")
# Make sure to include principal, rate, time, and interest in your print statement

# Your code ends here

With a principal amount of 1000 USD, at an annual interest rate of 5%, in 2 years you will earn 100.0 USD in interest.


## Expected Output
Your program should print a message like the following:

```
With a principal amount of 1000 USD, at an annual interest rate of 5%, in 2 years you will earn 100.0 USD in interest.
```